@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* import can be a dangerous prospect for a reliable system, but we usin it because I like this font. EC */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #22004c;
    background: radial-gradient(circle, #02003d,#e8e8ff,#29003f);
}
header {
   background-color: #22004c;
    margin-left: 10em;
    margin-right: 10em;
}

header .text {
	padding: 15px 0 50px 25px;
}

header h1 {
    font-size: 64px;
    font-weight: bold;
    color: #f5edff;
}

header h2 {
    font-size: 32px;
    color: #f5edff;
    padding-left: 4.5em;
}

header nav {
	/* NOTE: this removes a space that CSS seems to like to include. EC */
	font-size: 0;
	width: 100%;
}

nav a {
    color: #f5edff;
    position: relative;
    font-size: 12px;
	
	color: #22004c;
	text-decoration: none;
	width: 20%; /* NOTE: This is only gonna work for 5 elements! EC*/
    /* assists with making mobile friendly */
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	display: inline-block; /*this is why that above font thing exists. inline-block is weird. EC */
}
nav a.selected, nav a:hover {
    background-color: #f5edff;
	color: #22004c;
	font-weight: bold;
}

nav {
	background-color: #e8d9fc;
}

@media (max-width: 1068px) {
	nav a {
		width: 100%;
	}
	
	header h1 {
		font-size: 6vw;
	}
	
	header h2 {
		padding-left: 5vw;
		font-size: 3vw;
	}
}

div.author{
    font-weight: bold;
	font-size: 1.6em;
}
div.date{
    /*font-weight: bold;*/
    margin-bottom: 5em;
	color: #888;
}

div.text-container {
    background-color: #f5edff;
    margin-left: 10em;
    margin-right: 10em;
	padding: 50px;
    padding-bottom: 15em;
    line-height: 1.65em;
}
p {
    padding-bottom: 1em;
}